*{
    margin: 0;
}
body {
  overflow-x: hidden;
  background-image: url(./img/img1.jpg);
  background-size: 100%;
  width: 100%;height: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
}
nav{
  display: flex;
  justify-content: flex-end;
}
nav ul{
  display: flex;flex-direction: row;
  list-style: none;
  margin-right: 50px;
}
nav li ,img{
  flex-direction: row;
  margin-top: 40px;
  margin-right: 20px;
}
nav img{
  margin-top: 20px;
  width: 50px;height: 50px;
  border-radius: 50%;
}
nav img:last-of-type{
  width: 50px;height: 50px;
  
}
nav a:hover{
  text-decoration: underline;
}
nav img:hover{
  border: 2px solid blue;
}
header {
  display: flex;
  justify-content: center;
  margin: 10% auto;
  font-size: 80px;
}
.section form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.section form input {
  border: 1px solid black;
  border-radius: 15px;
  width: 700px;
  height: 50px;
}
.section form button {
  margin-left: 20px;
  width: 100px;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 20px;
}
.main1,
.main2 {
  max-width: 700px;
  display: flex;
  justify-content: space-evenly;
  margin: 5% auto;
}

.main1 a img,
.main2 a img {
  width: 70px;
  height: 60px;
  border-radius: 35px;
}
footer{
    margin: 0 auto;
    width: 100%;height: 200px;
    background-color: rgb(70, 64, 64);
    color: white;
    display: flex;
    justify-content: space-evenly;
   
}
footer ul{
    list-style: none;
    flex-direction: row;
margin-top: 20px;
}
footer li{
margin-bottom: 20px;
font-size: 20px;
font-family:Arial, Helvetica, sans-serif;
}
footer li a{
  color: rgb(0, 0, 119);
  font-size: 26px;
}
footer li a:hover{
  background-color: blueviolet;
  color: white;padding: 10px;border-radius: 15px;
}
@media(max-width:750px){
    header ul{
margin-right: 0;
    }
    body{
      background-size: cover;
      height: 100%;
    }
    footer {
    margin-top: -10px;
       justify-content: center;
       align-items: center;
        display: flex;
        flex-direction: column;
    }
    footer ul{margin: 0 auto;}
    
}
