body {
  overflow-x: hidden;
  background-image: url(./img/img1.jpg);
  background-size: 100%;
  width: 100%;height: 100%;
  background-repeat: no-repeat;
}
header {
  display: flex;
  justify-content: center;
  margin: 10% auto;
  font-size: 80px;
}
.section form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.section form input {
  border: 1px solid black;
  border-radius: 15px;
  width: 700px;
  height: 50px;
}
.section form button {
  margin-left: 20px;
  width: 100px;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 20px;
}
.main1,
.main2 {
  max-width: 700px;
  display: flex;
  justify-content: space-evenly;
  margin: 5% auto;
}

.main1 a img,
.main2 a img {
  width: 70px;
  height: 60px;
}
footer{
    margin: 0 auto;
    width: 100%;height: 200px;
    background-color: rgb(70, 64, 64);
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
footer ul{
    list-style: none;
    flex-direction: row;
}
footer li{
margin-bottom: 20px;
font-size: 20px;
font-family:Arial, Helvetica, sans-serif;
}
